[Unit]
Description=RC Car Controller Script
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
User=pi
WorkingDirectory=<THIS_DIR>
ExecStart=<THIS_DIR>/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
